html, body {
	height: 100%;
}


#wrapper {
	min-height: 100%;
	position:relative;
}


#nav .avatar {
	width: 40px;
	height: auto;
}

#nav .toggle-button {
	margin-right: 10px;
}

#nav .dropdown-menu {
	width: 100px;
}


#intro .banner {
	margin-top: 70px;
	text-align: center;
	padding: 0px 30px;
}

#intro .banner h1 {
	text-transform: uppercase;
}

#intro .banner h1 span {
	padding-right: 8px;
}


#content {
	padding-bottom: 243px;
	margin-bottom: 0px;
}

#content .paragraph {
	margin-bottom: 50px;
}

#content .paragraph .round-btn {
	margin-top: 40px;
	border-radius: 20px;
}


#footer {
	width:100%;
	height: 203px;
	position: absolute;
	bottom: 0;
	left: 0;
}
