{% extends 'mainframe_with_m_banner.html' %}


{% block content %}
	
	<div class="paragraph">
		<h1>About</h1>
		<p>
			I am an undergraduate from ShanghaiTech Univeristy majored in computer science.
			I have learnt <code>HTML5 &amp; JavaScript &amp; CSS</code> and <code>React</code> framework for web development (familiar), <code>HTML5 Canvas</code> and <code>Unity</code> for game development (familiar), moreover, <code>C++</code>, <code>Python</code>, Mozilla <code>Rust</code> and <code>Docker</code> for backend development.
			I have been working on CG, AI and CV research since 2017. This homepage is all about my personal life insight and experience sharing on IT field.
		</p>
	</div>

	<div class="paragraph">
		<h1>Achievements</h1>
		<p>
			<ul>
				<li>Dec, 2017 - Won the second prize of 2017 iLab Hackathon.</li>
				<li>Jan, 2014 - Got CSDN blog expert certification.</li>
			</ul>
		</p>
	</div>

	<div class="paragraph">
		<h1>Contact</h1>
		<p>
			<ul>
				<li><b>Email:</b> wangyuehao1999@gmail.com</li>
				<li><b>Location:</b> <a href="http://gaode.com/place/B0FFF3YA07" target="_blank">#199 Huanke Road, Pudongxin District, Shanghai</a></li>
			</ul>
		</p>
	</div>

	<div class="paragraph">
		<h1>Links</h1>
		<p>
			<ul>
				<li>
					<h3>My Links</h3>
					<ul>
						<li><b>My Homepage: </b><a href="http://yuehaolab.com" target="_blank">http://yuehaolab.com</a></li>
						<li><b>My Github: </b><a href="https://github.com/yuehaowang" target="_blank">https://github.com/yuehaowang</a></li>
						<li><b>My LinkedIn: </b><a href="https://www.linkedin.com/in/yuehaowang" target="_blank">https://www.linkedin.com/in/yuehaowang</a></li>
						<li><b>CSDN Blog(in Chinese): </b><a href="http://blog.csdn.net/yorhomwang" target="_blank">http://blog.csdn.net/yorhomwang</a></li>
					</ul>
				</li>

				<li class="uk-margin-medium">
					<h3>Friendship Links</h3>
					<ul>
						<li><b>GeekPie: </b><a href="https://geekpie.club/">https://geekpie.club/</a>
						<li><b>Eastpiger: </b><a href="http://www.eastpiger.com/">http://www.eastpiger.com/</a></li>
						<li><b>Lufylegend: </b><a href="http://www.lufylegend.com/">http://www.lufylegend.com/</a></li>
					</ul>
				</li>
			</ul>
		</p>
	</div>

{% endblock %}
