{% extends 'mainframe_with_m_banner.html' %}


{% block content %}
	
	<div class="paragraph">
		<h1>Blog List</h1>

		<div class="uk-margin-large">

			{% for item in post_list %}
				<div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
					<div class="uk-width-1-3@m uk-card-media-left uk-cover-container">
						<img src="{{ '/images/blog/thumbnails/' + (post_list[item].thumbnail if ('thumbnail' in post_list[item]) else 'default.png') }}" alt="" uk-cover>
						<canvas width="300" height="200"></canvas>
					</div>
					<div class="uk-width-2-3@m">
						<div class="uk-card-body">
							<h3 class="uk-card-title">{{ post_list[item].title }}</h3>
							<p><span uk-icon="clock" style="margin-right: 5px;"></span> {{ post_list[item].date }}</p>
							<a class="uk-button uk-button-primary" style="float: right;" href="{{ 'post/' + item }}">Read</a>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>

{% endblock %}
