{% extends 'mainframe.html' %}


{% block extend_head %}
	
	<style>
		.project-intro {
			border-left: 10px #C5C5C5 solid;
		}
	</style>

{% endblock %}


{% block banner %}

	<div class="uk-card uk-card-transparent uk-width-1-2@m  uk-margin-medium-top">
		<div class="uk-card-header">
			<div class="uk-grid-small uk-flex-middle" uk-grid>
				<div class="uk-width-auto">
					<img class="uk-visible@m uk-border-circle" width="150" height="150" src="/images/avatar.png">
					<img class="uk-hidden@m uk-border-circle" width="90" height="90" src="/images/avatar.png">
				</div>
				<div class="uk-width-expand uk-margin-small-left">
					<h3 class="uk-card-title uk-margin-remove-bottom">Yuehao Wang</h3>
					<p class="uk-text-meta uk-margin-remove-top">std::vector&lt;Tech&gt; me;</p>
				</div>
			</div>
		</div>
		<div class="uk-card-body">
			<p>Hey there, welcome to my homepage. Some of my work and my profile can be found here. BTW, welcome you to follow me and star/fork my projects on Github if you find them useful.</p>
		</div>
		<div class="uk-card-footer">
			<a target="_blank" href="https://github.com/yuehaowang" class="uk-button uk-button-text">Follow me on Github</a>
		</div>
	</div>

{% endblock %}


{% block content %}

	<div class="paragraph">
		<h1>Featured Projects</h1>
		<div class="uk-card uk-card-secondary uk-grid-collapse uk-child-width-1-2@s uk-margin-medium" uk-grid>
			<div class="uk-card-media-left uk-cover-container">
				<img src="/images/greeting_card_demo.png" alt="" uk-cover>
				<canvas width="670" height="400"></canvas>
			</div>
			<div>
				<div class="uk-card-body">
					<h3 class="uk-card-title">Greeting Card</h3>
					<p class="uk-margin-small-bottom">
						<i>Greeting Card</i> is designed for creating an untraditional but enchanting greeting card to show your message in your mind. With the effect of a magnificent animation showing the message brick by brick, receivers just need to tap the screen until they make sense of what you want to express (maybe it's your gratitude or your love). Find no creative idea to express yourself? <a href="https://github.com/yuehaowang/greeting_card" target="_blank">Try <i>Greeting Card</i> without hesitation~</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="paragraph">
		<h1>I am Working on...</h1>
		<div class="uk-padding-large uk-background-muted uk-margin-medium project-intro">
			<h2>Duckling Game Engine</h2>
			<div class="uk-text-lead">
				<p>
					<i>Duckling</i> is an <i>OpenGL</i> based game engine aiming to simplify the process of game development in <i>python</i>. Easy-to-install, cross-platform and light-weight are the major features of <i>duckling</i> game engine. If you are interested in this 'under-construction' project, <a href="https://github.com/yuehaowang/duckling" target="_blank">please check it on Github</a>.
				</p>
			</div>
		</div>
	</div>

{% endblock %}