{% extends 'mainframe.html' %}


{% block banner %}

	<div class="uk-card uk-card-transparent uk-width-1-2@m  uk-margin-medium-top">
		<div class="uk-card-header">
			<div class="uk-grid-small uk-flex-middle" uk-grid>
				<div class="uk-width-auto">
					<img class="uk-visible@m uk-border-circle" width="150" height="150" src="/images/avatar.png">
					<img class="uk-hidden@m uk-border-circle" width="90" height="90" src="/images/avatar.png">
				</div>
				<div class="uk-width-expand uk-margin-small-left">
					<h3 class="uk-card-title uk-margin-remove-bottom">Yuehao Wang</h3>
					<p class="uk-text-meta uk-margin-remove-top">std::vector&lt;Tech&gt; me;</p>
				</div>
			</div>
		</div>
		<div class="uk-card-body">
			<p>Hey there, welcome to my homepage. Some of my works and my profile can be found here. BTW, welcome you to follow me and star/fork my projects on Github if you find them useful.</p>
		</div>
		<div class="uk-card-footer">
			<a target="_blank" href="https://github.com/yuehaowang" class="uk-button uk-button-text">Follow me on Github</a>
		</div>
	</div>

{% endblock %}


{% block content %}

	<h1>Upgrading...</h1>

{% endblock %}