{% extends 'mainframe_with_m_banner.html' %}


{% block content %}

	{# Open-source Frameworks #}
	<div class="paragraph">
		<h1><span class="uk-visible@m" uk-icon="icon: github; ratio: 2.3"></span> Open-source Frameworks</h1>
		
		<div class="uk-child-width-1-2@s uk-grid-match uk-margin-medium-top" uk-grid>
			<div>
				<div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-border-rounded uk-light">
					<h3 class="uk-panel-title">Pylash <span class="uk-margin-small-left uk-badge">Python</span></h3>
					<p>
						Pylash is a game engine for <code>python</code>. I develop pylash in <code>python3</code> and the GUI engine of pylash is PyQt4. With pylash engine, you could create games in a simple way. Pylash will be a good helper for those who are freshmen in developing game and who dream of creating their own games.
					</p>
					<br />
					<a target="_blank" href="https://github.com/yuehaowang/pylash_engine" class="uk-button uk-button-text">View Pylash on Github</a>
				</div>
			</div>

			<div>
				<div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-border-rounded uk-light">
					<h3 class="uk-panel-title">Greeting Card <span class="uk-margin-small-left uk-badge">JavaScript</span></h3>
					<p>
						You may want to write some warm words to your best friends, parents or lover. Plain text may bore them. Greeting Card provides a magnificent animation to show the text brick by brick. Receivers just need to tap the screen until they make sense of what you want to express (maybe it's your gratitude or your love). 
					</p>
					<br />
					<a target="_blank" href="https://github.com/yuehaowang/greeting_card" class="uk-button uk-button-text">View greeting_card on Github</a>
				</div>
			</div>
		</div>
	</div>

	{# Games & Apps #}
	<div class="paragraph">
		<h1><span class="uk-visible@m" uk-icon="icon: thumbnails; ratio: 2.3"></span> Games &amp; Apps</h1>
		
		<div class="uk-child-width-1-2@s uk-grid-match uk-margin-medium-top" uk-grid>
			<div>
				<div class="uk-card uk-card-default">
					<div class="uk-card-media-top">
						<img src="./images/flying_stone_poster.png" alt="flying_stone_poster">
					</div>
					<div class="uk-card-body">
						<h3 class="uk-card-title">Flying Stone</h3>
						<p>
							Flying Stone is a physical-motion-simulating game. Within the game time, tap screen and then throw stones to hit birds flying in the sky. And more birds you hit, more points you get.

							<a class="uk-button uk-button-primary round-btn" target="_blank" href="http://wyh.wjjsoft.com/games/flying_stone/">Play online</a>
						</p>
					</div>
				</div>
			</div>
			<div>
				<div class="uk-card uk-card-primary">
					<div class="uk-card-media-top">
						<img src="./images/sanguo_td_demo.png" alt="sanguo_td_demo">
					</div>
					<div class="uk-card-body">
						<h3 class="uk-card-title">SanguoTD</h3>
						<p>
							SanguoTD is a tower-defense-like game. To win the game, you need to play your own role and command your armies to fight against enemies together. The theme of this game is Three Kingdoms (Sanguo), which is a great era in the Chinese history.

							<a class="uk-button uk-button-secondary round-btn" target="_blank" href="https://github.com/yuehaowang/sanguo_td">View Sanguo_TD on Github</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
